.gridcontainer {
  display: grid;
  justify-items: center;
  padding: 1rem;
  background-color: rgba(20, 17, 17, 0.521);
  color: white;
  border-radius: 15px;
  margin: 0 0 0.5rem 0;
}
.title {
  display: grid;
  justify-items: center;
  margin-right: 1rem;
}
.detail {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 680px) {
  .gridcontainer {
    display: flex;
    justify-items: center;
    /* padding: 1rem; */
    background-color: rgba(20, 17, 17, 0.521);
    color: white;
    border-radius: 15px;
    /* margin: 0 1rem 0 1rem; */
  }
}
