.high {
  color: rgb(243, 8, 8);
}
.medium {
  color: rgb(43, 199, 43);
}
.normal {
  color: rgb(121, 124, 121);
}
.active {
  font-weight: bold;
  color: steelblue;
}
.done {
  text-decoration: line-through;
}
.info {
  color: aqua;
}
.wrapitem:hover {
  background-color: rgb(231, 222, 222);
}

.suspend {
  background-color: rgb(123, 126, 123);
}
